<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Audio messenger</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">

</head>

<body>
    <div id="vueroot">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Audio messenger</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <div class="col-lg-3">

                    <h3 class="my-4">Record an audio</h3>
                    <button class="btn btn-primary" @click="record" :disabled="isRecording">Start record</button>
                    <br>
                    <br>
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-9">
                    <br>
                    <br>
                    <div class="row">
                        <div class="list-group" v-if="recordings">
                            <h4>Play recordings</h4>
                            <button type="button" class="list-group-item list-group-item-action" v-for="item in recordings" @click="play(item)">
                                Click to play - {{item.audioUrl}}
                            </button> 
                        </div>
                         

                     
                    </div>
                    <div class="row">
                        <div v-if="recordings">
                            <h4>Select and combine audio</h4>
                            <div class="custom-control custom-checkbox" v-for="(item,i) in recordings">
                                <input type="checkbox" class="custom-control-input" :id="'customCheck'+i" v-model="item.isSelected" :checked="item.isSelected">
                                <label class="custom-control-label" :for="'customCheck'+i">{{item.audioUrl}}</label> - {{item.isSelected}}
                            </div>
                            <br>
                            <button type="button" class="btn btn-secondary" @click="combineAudio">Combine and play</button>
                            <br>
                            <br>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.col-lg-9 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/vue/vue.min.js"></script>
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>

</html>